.noteWrapper{
  padding: 25px;
  padding-top: 0px;
  background-image: url('/img/note-bg.png');
  border: 1px #bbb solid;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.noteHeader{
  word-break: break-all;
}
.noteBody{
  font-size: 18px;
  word-break: break-all;
}
.note{
  margin: 20px 0;
}
.transparent{
  background: transparent;
}
.noteBodyEdit{
  font-size: 18px;
  margin-top: 20px;
}
.noteHeaderEdit{
  margin-top: 20px;
  font-size: 26px;
}
