.landingImageBlockWrapper{
  font-family: 'Slabo 27px', serif;
  padding: 30px;
  padding-top: 10px;
  border: 1px #bbb solid;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  background-color: #F4E1A8;
  margin-bottom: 30px;
}
.landingImageBlockHeader{
  margin-bottom: 40px;
}
.landingImageBlockBody{
  margin-bottom: 40px;
  font-size: 18px;
}
.landingImageBlockImage{
  width: 50%;
}
